<form method="POST" id="add_user" action="/api/users">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="radio-lable">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark stoenis">
        </div>
        <div class="form-group">
            <label for="Email"  class="radio-lable">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="radio-lable">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="male">
                <label for="radio-2" class="radio-lable">Male</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female">
                <label for="radio-3" class="radio-lable">Female</label>

            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="radio-lable">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active">
                <label for="radio-4" class="radio-lable">Active</label>

            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive">
                <label for="radio-5" class="radio-lable">Inactive</label>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>